@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-nav {
    background-color: #0C0521;
}

.img {
    width: 130px;
}

#item1 {
    color: #ffffff;
    padding-left: 25px;
    font-weight: 500;
}

#item2 {
    color: #ffffff;
    padding-left: 25px;
    font-weight: 500;
}

#item3 {
    color: #ffffff;
    padding-left: 25px;
    font-weight: 500;
}

#item4 {
    color: #ffffff;
    padding-left: 25px;
    font-weight: 500;
}

#item5 {
    color: #ffffff;
    padding-left: 25px;
    font-weight: 500;
}

.bg {
    background-image: url('https://assets.ccbp.in/frontend/responsive-website/landing-section-bg.png');
    background-size: cover;
    /* height: 100vh; */
}

.main-container {
    height: 100vh;
}

h1 {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    font-family: "Roboto";
}

p {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto";
}

.button {
    background-color: #FFDDA9;
    height: 55px;
    width: 160px;
    color: black;
    font-size: 17px;
    font-weight: bold;
    border-radius: 25px;
}

span {
    color: #FFDDA9;
}
